{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>TEAM✅</h1>
    {% for team in team %}
    <tr>
        <td>{{ team.id }}</td><br>
        <td>{{ team.name }}</td><br>
        <td>{{ team.role }}</td> <br>  
        <td>{{ team.description }}</td><br>
    </tr>
{% endfor %}
</div>
{% endblock %}
