{% extends 'base.html.twig' %}


{% form_theme eventForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    {% if editMode %}
        <h1>Modification d'un évenement</h1>
    {% else %}
        <h1>Création d'un évenement</h1>
    {% endif %}
    {{ form_start(eventForm) }}
        {{ form_widget(eventForm) }}
    <button class="btn btn-success btn-block">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Créer un évenement
        {% endif %}
    </button>
    {{ form_end(eventForm) }}

{% endblock %}
