{% extends 'base.html.twig' %}


{% form_theme eventForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}

{{ form_start(eventForm) }}
        {{ form_widget(eventForm) }}
    <button class="btn btn-success btn-block">Créer un évenement</button>
    {{ form_end(eventForm) }}

{% endblock %}
