{% extends 'base.html.twig' %}

{% form_theme formRegister 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(formRegister) }}
        {{ form_widget(formRegister, {'attr': {'class': 'task_field'}}) }}
        {{ form_row(formRegister.status) }}
        <button type="submit" class='btn btn-primary btn-block'>
            {% if updateMode %}
            Enregistrer les modifications
            {% else %}
            Inscription
            {% endif %}
        </button>
    {{ form_end(formRegister) }}
</div>
{% endblock %}