@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro/MyriadPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/MyriadPro/MyriadPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/MyriadPro/MyriadPro-Regular.svg#b6b933d6eeb92d33db4fad36c45b0bff') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  400;
}