.top-authenticated{
    color: #fff;
    position: relative;
    padding-top: 1rem;
    padding-right:1rem; 
}

.content-authenticated{
    color: #fff;
    font-size: 0.7rem;
    text-decoration: none;
}
.content-authenticated:hover{
    color: rgb(226, 226, 226);

    font-size: 0.7rem;
    text-decoration: none;
}