{% extends 'base.html.twig' %}

{% block body %}
<div class="container error-dim">

    <div class="card mb-3" style="width: 90%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://media.giphy.com/media/VILJHh5AodVIs/giphy.gif" class="card-img" alt="404">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Erreur </h3>
              <p class="card-text">Aie je croi qu'il y a un problème</p>
              <button type="button" href="{{ path('home') }}" class="btn btn-primary error-btn">Retourner sur le site</button>
            </div>
          </div>
        </div>
      </div>
    
</div>
{% endblock %}